*{
    margin: 0;
    padding: 0;
}
:root{
    --mainColor: #f7f1f0;
    --mainColorLight: #c3a6a0;
    --secondaryColor: #262220;
    --textColor: #262220;
    --textColorSecondary: #f7f1f0;
}

body{
    background-color: var(--mainColorLight);
    color: var(--textColor);
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section{
    scroll-snap-align: center   ;
}
