.contact-container{
    height: 100vh;
    padding: 12vh 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title__contact{
    width: 100vw;
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
}

.contact-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.email-container{
    width: 100%;
    margin: 2rem;
}
.message textarea{
    height: 30vh;
}

