.header-container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 12vh;
    background-color: var(--mainColor);
    z-index: 999;
}

.header-title{
    font-size: 2rem;
    font-weight: 200;
    margin: 0 2rem;
}
.header-title a{
    text-decoration: none;
    color: var(--textColor);
}
.header-title a:hover{
    color: var(--detailColor);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    margin: 0 2rem;
}
.nav-item {
    color: var(--textColor);
    font-size: 1.5rem;
}
.nav-item:hover{
    color: var(--detailColor);
}

.nav-btn{
    padding: 1rem;
    cursor: pointers;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    display: none;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px){
    .nav-btn{
        display: block;
        opacity: 1;
    }
    .nav-container{
        position: fixed;
        margin: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

    .responsiv_nav{
        transform: none;
    }
    
    .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;

    }
}
