.skills-container{
    height: 100vh;
    padding: 12vh 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-info{
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    background-color: var(--mainColor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1.5rem;
}
.sub-title__skills{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-top: .5rem;
}
.skill-description{
    text-align: center;
}

.skill-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    text-align: center;
    gap: 3rem;
    margin-top: 2rem;
}

.skill-item{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;

}