.contact-container{
    height: 100vh;
    width: 100%;
}
.title__contact{
    width: 100vw;
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
}

.contact-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.email-container{
    width: 100%;
    margin: 2rem;
}
.social-icon{
    width: 100%;
    font-size: 3rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.social-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
