.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 10vh;
}

.header-title{
    margin-left: 1rem;
    font-size: 4rem;
    font-weight: 200;
}
.nav-container{
    width: 100%;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 1rem;
    width: 100%;
}